:root {
  --primary: #f5e451;
  --bg: #f3f3f3;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  min-width: 600px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
}

header.navbar-container {
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 1rem 0.7rem;
  border-bottom: 1px solid;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header.navbar-container .logo {
  width: 90px;
  margin-left: 3rem;
  font-weight: 700;
  font-style: italic;
}

header.navbar-container .navbar-content ul {
  display: flex;
  gap: 1rem 2rem;
  list-style-type: none;
}

header.navbar-container .navbar-content li a {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  transition: all 0.4s ease;
}

header.navbar-container .navbar-content li a:hover {
  background-color: var(--primary);
  color: #fff;
}

header.navbar-container .navbar-search {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 1rem;
}

header.navbar-container .navbar-search #search-button,
header.navbar-container .navbar-search .hamburger-menu {
  color: black;
  margin-right: 2rem;
}

/* navbar search */
header.navbar-container .search-form {
  position: absolute;
  background-color: white;
  top: 100%;
  right: 3%;
  width: 40rem;
  height: 4rem;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
}

header.navbar-container .search-form.active {
  opacity: 1;
}

header.navbar-container .search-form input {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  color: black;
  padding: 1rem;
}

header.navbar-container .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 2rem;
  color: black;
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: auto;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero .content {
  position: fixed;
  padding: 2rem 6%;
  text-align: center;
  top: 100px;
}

.hero .content h1 {
  color: var(--primary);
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 2rem 0;
}

.hero .content p {
  /* color: black; */
  line-height: 1.8rem;
  font-weight: 500;
  font-size: 1.3rem;
  mix-blend-mode: difference;
}

.about,
.menu,
.products,
.contact {
  padding: 7rem 7% 1.4rem;
  min-height: 90vh;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.4rem;
}

/* about section */

.about .about-container-1 {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.about .about-container-2 {
  display: flex;
  /* gap: 0.2rem; */
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.about .about-container-1 .about-img {
  flex: 1 1 10rem;
  order: 2;
}
.about .about-container-2 .about-img {
  flex: 1 1 10rem;
}

.about .about-container-1 .about-img img {
  width: 100%;
  border-radius: 50%;
}

.about .about-container-2 .about-img img {
  width: 600px;
}

.about .about-container-1 .content,
.about .about-container-2 .content {
  flex: 1 1 40rem;
  padding: 0 1.3rem;
}

.about .about-container-1 .content h3,
.about .about-container-2 .content h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

.about .about-container-1 .content p,
.about .about-container-2 .content p {
  font-size: 1.3rem;
}

/* our product */
.products .isi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.products .isi .product {
  border: 2px solid;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 600px;
  height: 300px;
}

.products .isi .product img {
  width: 250px;
  padding: 1rem;
}

.products .isi .product .description h3 {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
}

.products .isi .product .description pre {
  line-height: 0.9rem;
  padding: 0 1rem 0 1rem;
}

.products .isi .product .description .product-price {
  text-align: center;
  font-weight: 400;
}

.products .isi .product .description .product-price span {
  text-decoration: underline;
}

/* contact us sesion */

.contact .isi {
  display: flex;
  margin-top: 2rem;
  background-color: #dadadad8;
}

.contact p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
}

.contact .isi .map {
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1 1 45rem;
  object-fit: cover;
}

.contact .isi form {
  text-align: center;
  flex: 1 1 45rem;
  padding: 4rem 2rem;
}

.contact .isi form .input-cust {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid #eee;
  padding-left: 2rem;
  border-radius: 12px;
  width: 100%;
  right: 0;
}

.contact .isi form .input-cust label {
  display: flex;
  align-items: center;
  width: 100%;
}

.contact .isi form .input-cust input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: black;
}

.contact .isi .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: black;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 12px;
}

/* aside social media */

main aside {
  position: fixed;
  inset-block: 0;
  inset-block-end: 0;
  z-index: 99999;
}

main aside .social-media {
  display: flex;
  height: 100%;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: auto;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  font-size: 2rem;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  width: 28px;
  height: 28px;
  color: black;
}

main aside .social-media li a#youtube:hover {
  color: #ff0000;
}

main aside .social-media li a#instagram:hover {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}

main aside .social-media li a#twitter:hover {
  color: #1da1f2;
}

main aside .social-media li a#facebook:hover {
  color: #4267b2;
}

/* footer */
footer {
  text-align: center;
  background-color: var(--primary);
  margin-top: 3rem;
  padding: 1rem 0.4rem;
  min-width: 600px;
}

footer .links {
  margin-bottom: 1rem;
}

footer .links ul {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}
footer .links li {
  list-style-type: none;
}

footer .links li a {
  color: black;
  font-size: 1.5rem;
}

footer .links li a:hover {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-weight: 700;
  color: var(--primary);
  transition: all 0.4s ease;
}

footer .links li a:hover {
  background-color: white;
  color: black;
}

#hamburger-menu {
  display: none;
}

/* media querries */
/* laptop */

@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}

/* tablet */
@media (max-width: 750px) {
  html {
    font-size: 95%;
  }

  main {
    min-width: 750px;
  }

  .hero {
    min-width: 750px;
  }

  #hamburger-menu {
    display: inline-block;
  }

  header.navbar-container {
    height: 4rem;
    padding: 1rem;
  }

  header.navbar-container .navbar-content {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 1000vh;
    transition: 0.3s;
  }

  header.navbar-container .navbar-content.active {
    right: 0;
  }

  header.navbar-container .navbar-content ul {
    display: block;
    margin-top: 3rem;
  }

  header.navbar-container .navbar-content li {
    margin: 2rem;
  }

  header.navbar-container .navbar-content a {
    color: var(--bg);
    margin: 2rem;
    padding: 2rem;
    font-size: 2rem;
  }

  .about .about-container-2 .about-img img {
    min-width: 400px;
    margin-right: 0rem;
    padding-left: 1.5rem;
  }

  .about .about-container-2 {
    display: block;
    margin-left: 0.1rem;
  }

  .contact .isi {
    display: block;
    margin-top: 2rem;
    background-color: #dadadad8;
  }

  .contact .isi .map {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    flex: 1 1 45rem;
    object-fit: cover;
  }

  footer {
    min-width: 750px;
  }

  footer li a {
    font-size: 2rem;
  }
}

/* handphone */
@media (max-width: 470px) {
  html {
    font-size: 90%;
  }

  header.navbar-container {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
  }

  header.navbar-container .logo {
    font-size: 1.7rem;
    color: black;
  }

  footer li a {
    font-size: 2.5rem;
  }

  main aside .social-media li a {
    font-size: 2rem;
    padding: 1rem;
  }
}
